<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Flask - paiza</title>
        <style>
        
            body {
                padding: 10px;
            }
                
        </style>
    </head>
    <body>
        
        {% extends "layout.html" %}
        
        {% block content %}
            <h1> 管理者用サイト　</h1>
            
            <h2>データベースの階層構造</h2>
            
            {% for table in alldata %}
                <h2>{{table}}</h2>
                
                {% for column in alldata[table]%}
                    
                    <h3>&ensp;{{column}}</h3>
                
                {% endfor %}
            {% endfor %}
            
            {% for table in alldata.keys() %}
            
                <button onclick=location.href='/detele?gettable={{table}}}'>{{table}}の中身を削除する</button>
            
            {%endfor%}
        {% endblock %}

    </body>
</html>