{% extends "user_layout.html" %}
{% block title %}ちゃっとぺーじ{% endblock %}
{% block css %}
<style>
    .sender {
        color : blue;
    }

    .recelver {
        color : red;
    }

    .timetext {
        font-size : 5px;
    }
</style>
{% endblock %}
{% block content %}

    {% for chatlog in chatlogs %}
        {% if chatlog["sender"] %}
            <p class="sender">{{user_name}}:{{chatlog["chatlog"]}}<br><span class="timetext">{{chatlog[timelog]}}</span></p>
        {% else %}
            <p class="recelver">{{friend_name}}:{{chatlog["chatlog"]}}<br><span class="timetext">{{chatlog["timelog"]}}</span></p>
        {% endif %}
    {% endfor %}
    
{% endblock %}
