<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>need_title</title>
        <style>body {padding: 10px;}</style>
    </head>
    <body>
        {% extends "user_layout.html" %}
        
        {% block content %}
            {% for friend in friend_list %}

            <form action="/getchatlog" method="get">

                <input type="hidden" name="user_name" value="{{user_name}}">
                <input type="hidden" name="friend_name" value="{{friend['user_name']}}">
                <input type="hidden" name="user_id" value="{{user_id}}">
                <input type="hidden" name="friend_id" value="{{friend['user_id']}}">
                
                <button type="submit">{{friend["user_name"]}}のチャット</button>

            </form>
                
            {% endfor %}
            
            <form action="/friend_serch" method="post">
            
                <input type="hidden" name="friend_list" value="{{friend_list}}">
                <input type="hidden" name="request_list" value="{{request_list}}">
                <input type="hidden" name="user_name" value="{{user_name}}">
                <input type="hidden" name="user_id" value="{{user_id}}">
                
                <input type="number" name="request_id" placeholder="フレンドのユーザーID">

                <button type="submit">フレンドをさがす</button>
        
            </form>
            
            
            
            
        {% endblock %}
    </body>
</html>