<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Flask - paiza</title>
        <style>
        
            body {
                padding: 10px;
                }
                
            .scroll {
                max-width: 100%;
                max-height: 80%;
                overflow: scroll;
                }
                
            
            
        </style>
    </head>
    <body>
        
        {% extends "layout.html" %}
        
        {% block content %}
            <div class="scroll">
                
                {% for sqllist in sqllists %}
                
                    <p>
                        {{ sqllist.name }}
                    </p>
                
                {% endfor %}
                
            </div>
            
            <form action="/result" method="post">
                
                <label for="name">名前</label>
                <input type="text" name="name">
                <button type="submit">送信する</button>
                
            </form>
            
        
            {% if name_value == "にくまん"%}
                <h1>Hello {{ name_value }}</h1>
            {% else %}
                <p>Hello paiza!</p>
            {% endif %}
            
        {% endblock %}

    </body>
</html>