{% extends "layout.html" %}

{% block title %}ログイン{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
    
    <form action="/login" method="post">
        
        <label for="name">Name</label>
        <input type="text" name="user_name">
        <label for="pass">Password</label>
        <input type="number" name="user_pass">
        <button type="submit">ログイン</button>
        
    </form>
    
    <form action="/make_account">
        <button type="submit">アカウントの新規作成</button>
    </form>
    
{% endblock %}