{% extends "layout.html" %}

{% block title %}新規作成{% endblock %}

{% block css %}
<style>
    .error {
            background-color: red;
    } 

</style>
{% endblock %}

{% block content %}
    
    <form action="/make_account" method="post">
        {% if error == 1 %}
        
            <div class="error">
                <label for="name">UserName</label>
                <input type="text" name="name"  placeholder="入力が11字以上です">
            </div>
            
        {% elif error == 1 %}
            <div class="error">
                <label for="name">UserName</label>
                <input type="text" name="name"  placeholder="既に使用されている名前です">
            </div>
            
        {%else%}
            <label for="name">UserName</label>
            <input type="text" name="name" placeholder="10字以内">
            
        {% endif %}
        
        <label for="pass">Password</label>
        <input type="number" name="pass" placeholder="半角数字で入力">
        
        <button type="submit">作成</button>
        
    </form>
    <form action="/" method="get">
        <button type="submit">ログインはこちらから</button>
    </form>
    
{% endblock %}