<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
            body {
                padding: 10px;
                
            }
            .img {
                width: auto;
            }
            
        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% if user_name %}
            <h1>ようこそ&ensp;{{user_name}}&ensp;さん！</h1>
            <p>どんな会話も円滑に</p>
        {% else %}
            <h1><a herf="""">ログイン</a></h1>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>